*.css
*.scss
*.svg
*.png
*.json
*.log
*.lock
*.md
*.ico
*.ttf
*.xml
*.txt
*.html
*.webmanifest
*.tgz
dist
build
.build
postcss.config.js
*.tsconfig.json
*.tsbuildinfo
*.woff2
*.yml
LICENSE
README.md
CHANGELOG.md
.licenserc.json