**/dist
**/build
**/.build
**/node_modules
**/package.json
**/package-lock.json
**/pnpm-lock.yaml
**/.eslintrc.js
**/tsconfig.json
**/tstsconfig.tsbuildinfo
README.md
*CODEOWNERS*
CHANGELOG.md
.licenserc.json